<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <title>HP Quotes</title>
    <meta charset="utf-8">
   <link rel="stylesheet" href="../src/css/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        crossorigin="anonymous" />
</head>

<body>
    <h1>HP World</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" required>
        <input type="text" placeholder="quote" name="quote" required>
        <button type="submit">Submit</button>

    </form>

    <h2> Quotes </h2>

    <ul class="quotes">

      <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">

          <span><%= quotes[i].name %></span>:

          <span><%= quotes[i].quote %></span>
        </li>
      <% } %>
    </ul>

    <div>
        <h2>Battle of Wills</h2>
        <p>
          Replace the first quote of Dumbledore with a quote by Harry Potter
        </p>
        <button id="update-button">Replace Dumbledore's quote</button>
      </div>
    
  </body>

  <footer>
    <script src="/public/main.js"></script>
  </footer>