

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background: rgb(25, 49, 47);
    color:white;
}

h1{
    font-weight: 900px;
    padding: 10px;
    margin:10px 30px;
    animation: spaceout 2s ease-out;
}

@keyframes spaceout {
    from { letter-spacing: 0px; }
    to   { letter-spacing: 7px;}
}


h2 {
    margin: 5px 20px;
}

p{
    margin: 5px 20px;
}

input{
    margin-left:20px;
    padding:0 5px;
    height:30px;
    border:none;
    outline:none;
    border-radius: 3px;
}

.header-green {
    top: 0;
    width: 100%;
    display: flex;
    letter-spacing: 7px;
    font-size: 20px;
}

.dark-form{
    background-color: rgb(2, 27, 29);
    justify-content: space-around;
    align-items: center;
    margin:40px 220px;
    padding: 50px 30px 40px 30px;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    padding:10px 20px 10px 20px;
    margin: 12px 20px 30px 20px;
    letter-spacing: 3px;
    background-color: rgb(227, 41, 91);
    color:white;
}


button:hover{
    transition: 1s;
    padding:10px 30px;
    background-color: white;
    color:rgb(227, 41, 91);
}

.creator-txt{
    padding: 30px 0 0 0;
}

.heart{
    color:rgb(227, 41, 91);
}

#pink-text{
    color:rgb(227, 41, 91);
}

.h2-quotes{
    margin:20px 220px;
    font-size: 30px;
    letter-spacing: 5px;
    color:rgb(227, 41, 91);
}

.quotes{
    margin:20px 220px 40px 220px;
    justify-content: center;
    font-size: 16px;
    padding:6px 0 6px 0;
    list-style: none;     
}

.quote{
    margin:12px;
    background-color: rgb(235, 213, 219);
    color:rgb(227, 41, 91);
    padding: 10px 40px;
    border-radius: 100px;
    border: none;
}

.quote:hover{
    transition: .4s;
    font-size: 20px;
}
